run = "bash start.sh"
entrypoint = "server.js"

[env]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
NODE_ENV = "production"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"
